/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.mvn/wrapper
.vscode
gaps_recommended_movies.txt
package-lock.json
node_modules
Core/target
GapsWeb/target

/rssFeed.json
GapsOnWindows/*.jar
*.zip
cypress/screenshots
cypress/videos
Plex/target/

GapsWeb/src/main/resources/static/css/input.min.css
