/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.mvn/wrapper
.vscode
gaps_recommended_movies.txt
package-lock.json
node_modules
Core/target/
GapsWeb/target/
RadarrV3/target/
Plex/target/
MockedPlex/target/

/rssFeed.json
*.zip
cypress/screenshots
cypress/videos


### Ignore local minified files
*.min.css
*.min.js

### Do not ignore min library files
!**/libraries/*.min.css
!**/libraries/*.min.js

### Ignore everything in Gaps on Windows except startup
GapsAsJar/*
!GapsAsJar/start.bat
!GapsAsJar/gaps.nsi