body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #424242 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #f5f5f5 !important;
}


/* unvisited link */
a:link {
  color: #26a69a;
}

/* visited link */
a:visited {
  color: #64d8cb;
}

/* mouse over link */
a:hover {
  color: #78909c;
}

/* selected link */
a:active {
  color: #a7c0cd;
}
