<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="/images/gaps.ico" rel="shortcut icon" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/input.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="" href=".">
            <img src="/images/final-gaps.svg" class="d-inline-block align-top" alt="" width="96" height="96">
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-button-padding">
                    <a class="nav-link center-text nav-anchor-spacing" href="/libraries">
                        <div class="icon list-ul-default"></div>
                        Libraries
                    </a>
                </li>
                <li aria-current="page" class="nav-item nav-button-padding active">
                    <a class="nav-link center-text nav-anchor-spacing" href="/recommended">
                        <div class="icon collection-fill-active"></div>
                        Missing
                    </a>
                </li>
                <li class="nav-item nav-button-padding" hidden>
                    <a class="nav-link center-text nav-anchor-spacing" href="/mislabeled">
                        <div class="icon exclamation-triangle-default"></div>
                        Mislabeled
                    </a>
                </li>
                <li class="nav-item nav-button-padding">
                    <a class="nav-link center-text nav-anchor-spacing" href="/rssCheck">
                        <div class="icon rss-default"></div>
                        RSS
                    </a>
                </li>
                <li class="nav-item nav-button-padding">
                    <a class="nav-link center-text nav-anchor-spacing" href="/configuration">
                        <div class="icon gear-default"></div>
                        Settings
                    </a>
                </li>
                <li class="nav-item nav-button-padding">
                    <a class="nav-link center-text nav-anchor-spacing" href="/updates">
                        <div class="icon arrow-clockwise-default"></div>
                        Updates
                    </a>
                </li>
                <li class="nav-item nav-button-padding">
                    <a class="nav-link center-text nav-anchor-spacing" href="/about">
                        <div class="icon info-circle-default"></div>
                        About
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3 class="top-margin">Collections</h3>

        <div class="top-margin bottom-margin" id="movieContainer">

            <table class="display top-margin" id="movies" style="width:100%">
                <thead>
                    <tr>
                        <th hidden>Collections</th>
                        <th hidden>Title</th>
                        <th hidden>Biography</th>
                    </tr>
                </thead>
            </table>

            <button class="btn btn-secondary" onclick="copyToClipboard()" type="button">Copy</button>
            <button class="btn btn-secondary" onclick="searchForMovies()" type="button">Re-Search</button>
            <button class="btn btn-warning" onclick="cancel()" type="button">Cancel</button>
        </div>

    </div>

    <script id="movieCard" type="text/x-handlebars-template">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-12 col-md-auto">
                    <img style="height: auto; width: 185px; display: block;border-radius: 50%;margin-top: 8px;margin-left: 8px"
                         src="https://image.tmdb.org/t/p/w185{{profile_path}}"
                         class="card-img" alt="Plex Poster">
                </div>
                <div class="col-12 col-md">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text text-muted">Born on {{birthday}} in {{place_of_birth}}</p>
                        {{#if deathday}}
                        <p class="card-text text-muted">Died on {{deathday}}</p>
                        {{/if}}
                        <p class="card-text text-muted line-clamp">{{biography}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color:#191919;margin-left:0px;margin-right:0px">
                {{#each crew}}
                <div class="col-3 top-margin" id="{{id}}" data-container="body" data-toggle="tooltip" data-html="true"
                  title="<div class='card mb-3'><div class='row no-gutters'><div class='col-12 col-md-auto'><img style='height: auto; width: auto; display: block;' src='https://image.tmdb.org/t/p/w185{{poster_path}}' class='card-img' alt='Plex Poster'></div><div class='col-12 col-md'><div class='card-body'><h5 class='card-title'>{{original_title}} ({{release_date}})</h5><p class='card-text text-muted'>{{overview}}</p><p class='card-text'><small class='text-info'>{{original_language}}</small></p></div></div></div></div>">
                    {{#if (mod_zero id)}}
                    <img style="height: 365px; width: auto; opacity: 0.3;"
                        src="https://image.tmdb.org/t/p/w342{{poster_path}}"
                        class="card-img" alt="Plex Poster">
                    <img class="missing-actors"
                        src="/images/x.svg" width="72px" height="72px" alt="Missing">
                    {{else if (mod_one id)}}
                    <img style="height: 365px; width: auto;"
                         src="https://image.tmdb.org/t/p/w342{{poster_path}}"
                         class="card-img" alt="Plex Poster">
                    {{else}}
                    <img style="height: 365px; width: auto; opacity: 0.3;"
                        src="https://image.tmdb.org/t/p/w342{{poster_path}}"
                        class="card-img" alt="Plex Poster">
                    <img class="missing-actors"
                         src="/images/search.svg" width="72px" height="72px" alt="Missing">
                    {{/if}}
                    <p class="left-margin-p">{{title}}<br>{{job}}<br>({{release_date}})</p>
                </div>
                {{/each}}
            </div>
        </div>
    </script>

    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/datatables.min.js" type="text/javascript"></script>
    <script src="/js/handlebars-v4.7.6.min.js" type="text/javascript"></script>
    <script src="/js/collections-directors.min.js" type="text/javascript"></script>
</body>

</html>