<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/image/gaps.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/input.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav aria-label="breadcrumb bg-primary">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/">Gaps</a></li>
    </ol>
</nav>

<div class="container">

    <h2 class="top-margin">Welcome to Gaps</h2>
    <h4 class="top-margin">v0.1.0</h4>

    <p>Gaps searches through your Plex Server. It then queries
        for known
        movies in the same
        collection using The MovieDB, which you will need to get. Don't worry, we'll walk you through
        those
        steps. Anyway, if those movies don't exist in your library, Gaps will recommend getting those
        movies, legally of course.</p>

    <p>An example would be owning 'Alien (1979)' and Gaps
        recommending
        'Aliens (1986)' and
        'Alien³ (1992)' to be added to your collection.</p>

    <p>To use Gaps, you'll need a MovieDB api key. Navigate
        over to <a
                href="https://www.themoviedb.org/settings/api" target="_blank" rel="noopener">The Movie DB</a>, create
        an
        account, and make an API Key. Copy that key and paste it below.</p>

    <form id="plexConfiguration" class="needs-validation" method="POST" action="/plexConfiguration" novalidate th:object="${plexSearch}">
        <div class="form-group">
            <label for="movieDbApiKey">Movie Database Api Key</label>
            <input type="text" class="form-control" id="movieDbApiKey" th:field="*{movieDbApiKey}" required>
        </div>

        <button id="folder" class="btn btn-secondary" disabled>Folder</button>
        <button type="submit" id="plex" class="btn btn-primary">Plex</button>
    </form>

</div>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>