<!--
- Copyright 2020 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/images/gaps.ico" rel="shortcut icon"/>
    <link href="/css/libraries/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/libraries/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/libraries/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/input.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="" href=".">
        <img src="/images/final-gaps.svg" class="d-inline-block align-top" alt="" width="96" height="96">
    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/libraries">
                    <div class="icon list-ul-default"></div>
                    Libraries
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/recommended">
                    <div class="icon collection-fill-default"></div>
                    Missing
                </a>
            </li>
            <li  aria-current="page" class="nav-item nav-button-padding active">
                <a class="nav-link center-text nav-anchor-spacing" href="/mislabeled">
                    <div class="icon exclamation-triangle-active"></div>
                    Mislabeled
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/rssCheck">
                    <div class="icon rss-default"></div>
                    RSS
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/configuration">
                    <div class="icon gear-default"></div>
                    Settings
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/updates">
                    <div class="icon arrow-clockwise-default"></div>
                    Updates
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/about">
                    <div class="icon info-circle-default"></div>
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container bottom-margin">
    <h3 class="top-margin">Mislabeled</h3>

    <table class="display top-margin" id="mislabeled" style="width:100%">
        <thead>
        <tr>
            <th>Plex Title</th>
            <th>Filename</th>
            <th>Match</th>
        </tr>
        </thead>
    </table>

</div>

<script src="/js/libraries/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/libraries/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/js/libraries/datatables.min.js" type="text/javascript"></script>
<script src="/js/mislabeled.min.js" type="text/javascript"></script>
</body>
</html>