<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta name="theme-color" content="#3f51b5"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/image/gaps.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/input.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body onload="onStart()">
<nav aria-label="breadcrumb bg-primary">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Gaps</li>
        <li class="breadcrumb-item active">Plex</li>
        <li class="breadcrumb-item active" aria-current="page">Libraries</li>
        <li class="breadcrumb-item active" disabled>Movies</li>
    </ol>
</nav>

<div class="container">

    <h2 class="top-margin">Plex Movie Libraries</h2>
    <p>These are the movie libraries we found in your Plex
        Server. Select any and all you would like to look for gaps in.</p>

    <form id="plexMovieList" class="needs-validation" method="POST" action="/plexMovieList" novalidate
          th:object="${plexSearch}">

        <div th:each="library : *{libraries}" th:remove="tag">
            <div class="form-group form-check">
                <input type="checkbox" th:id="${library.key}" class="form-check-input">
                <label class="form-check-label" th:for="${library.key}" th:text="${library.key}"></label>
            </div>
        </div>

        <button class="btn btn-secondary" onclick="back()">Back</button>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>

    <p hidden>Something went wrong. Please make sure your connection to Plex is correct. You can navigate back to make
        changes and then retry connecting. Check the browser and Docker logs for more information.</p>
</div>


<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="js/js.cookie.min.js"></script>
<script type="text/javascript" src="../static/js/plexLibraries.min.js"></script>
</body>
</html>