<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/images/gaps.ico" rel="shortcut icon"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/input.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Gaps</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/configuration">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libraries">Libraries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommended">Recommended</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rssCheck">RSS</a>
            </li>
        </ul>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/plexConfiguration">Plex</a></li>
        <li class="breadcrumb-item active"><a href="/plexLibraries">Libraries</a></li>
        <li aria-current="page" class="breadcrumb-item active">Movies</li>
    </ol>
</nav>

<div class="container bottom-margin">

    <div class="alert alert-primary alert-dismissible fade show gaps-hide" id="copiedToClipboard" role="alert">
        Copied to Clipboard
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h2 class="top-margin" id="searchTitle">Searching for Movies</h2>

    <div class="top-margin">
        <p id="searchDescription">Finding all movies in Plex</p>
    </div>

    <div class="progress top-margin" id="progressContainer">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
             class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
    </div>

    <h3 class="top-margin">Missing Movies</h3>

    <div class="top-margin">
        <table class="display" id="movies" style="width:100%">
            <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Collection</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <button class="btn btn-warning" id="cancel" onclick="cancel()" type="button">Cancel</button>
    <button class="btn btn-primary" onclick="viewRss()" type="button">View RSS</button>
    <button class="btn btn-secondary" id="copyToClipboard" type="button">Copy to Clipboard</button>

    <input id="plexSearch" name="plexSearch" th:value="${{plexSearch}}" type="hidden"/>
</div>

<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/js/datatables.min.js" type="text/javascript"></script>
<script src="/js/sockjs-1.4.0.min.js" type="text/javascript"></script>
<script src="/js/stomp-2.3.3.min.js" type="text/javascript"></script>
<script src="/js/plexMovieList.js" type="text/javascript"></script>
</body>
</html>