<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/images/gaps.ico" rel="shortcut icon"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/input.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Gaps</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/configuration">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libraries">Libraries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommended">Recommended</a>
            </li>
            <li aria-current="page" class="nav-item">
                <a class="nav-link" href="/rssCheck">RSS</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 class="top-margin">RSS</h3>

    <p class="top-margin">Select the RSS feed to open.</p>

    <form action="/rss" class="top-margin">
        <div class="form-check">
            <input checked class="form-check-input" id="exampleRadios1" name="exampleRadios" type="radio"
                   value="option1">
            <label class="form-check-label" for="exampleRadios1">
                All
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="exampleRadios2" name="exampleRadios" type="radio" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                KnoxServer - Disney Classic Movies
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="radio" value="option4">
            <label class="form-check-label" for="exampleRadios3">
                KnoxServer - Movies
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="exampleRadios4" name="exampleRadios" type="radio" value="option5">
            <label class="form-check-label" for="exampleRadios4">
                Joker - 4k Movies
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="exampleRadios5" name="exampleRadios" type="radio" value="option6">
            <label class="form-check-label" for="exampleRadios5">
                Joker - Movies
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Open</button>
    </form>

</div>

</body>
</html>