<!--
- Copyright 2019 Jason H House
-
- Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
-
- The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-
- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/images/gaps.ico" rel="shortcut icon"/>
    <link href="/css/libraries/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/input.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="" href=".">
        <img src="/images/final-gaps.svg" class="d-inline-block align-top" alt="" width="96" height="96">
    </a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/libraries">
                    <div class="icon list-ul-default"></div>
                    Libraries
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/recommended">
                    <div class="icon collection-fill-default"></div>
                    Missing
                </a>
            </li>
            <li class="nav-item nav-button-padding" hidden>
                <a class="nav-link center-text nav-anchor-spacing" href="/mislabeled">
                    <div class="icon exclamation-triangle-default"></div>
                    Mislabeled
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/rssCheck">
                    <div class="icon rss-default"></div>
                    RSS
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/configuration">
                    <div class="icon gear-default"></div>
                    Settings
                </a>
            </li>
            <li aria-current="page"  class="nav-item nav-button-padding active">
                <a class="nav-link center-text nav-anchor-spacing" href="/updates">
                    <div class="icon arrow-clockwise-active"></div>
                    Updates
                </a>
            </li>
            <li class="nav-item nav-button-padding">
                <a class="nav-link center-text nav-anchor-spacing" href="/about">
                    <div class="icon info-circle-default"></div>
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <img src="/images/final-2.svg" alt="Gaps Logo" style="width:50%;height:50%;" class="center">

    <h3 class="top-margin">Updates</h3>
    <h4 class="top-margin text-primary">v0.7.0</h4>
    <ul class="text-muted">
        <li>Added Support for the new <a href="https://forums.plex.tv/t/new-plex-media-server-movie-scanner-and-agent-preview/593269" target="_blank">Plex Media Scanner</a></li>
    </ul>

    <h4 class="top-margin text-primary">v0.6.1</h4>
    <ul class="text-muted">
        <li>Added Native Windows Java Support</li>
    </ul>

    <h4 class="top-margin text-primary">v0.6.0</h4>
    <ul class="text-muted">
        <li>Add PushOver Notification Agent</li>
    </ul>

    <h4 class="top-margin text-primary">v0.5.4</h4>
    <ul class="text-muted">
        <li>Replaced state object with stateless IoService</li>
        <li>Code clean up</li>
        <li>Cypress 5.0</li>
    </ul>

    <h4 class="top-margin text-primary">v0.5.3</h4>
    <ul class="text-muted">
        <li>Fixed bug with validation on checkboxes</li>
    </ul>

    <h4 class="top-margin text-primary">v0.5.2</h4>
    <ul class="text-muted">
        <li>Fixed bug with notifications not sending when set</li>
    </ul>

    <h4 class="top-margin text-primary">v0.5.1</h4>
    <ul class="text-muted">
        <li>Fixing small bugs with configuration</li>
    </ul>

    <h4 class="top-margin text-primary">v0.5.0</h4>
    <ul class="text-muted">
        <li>Spring Boot 2.3.3-RELEASE</li>
        <li>Apache Commons Text 1.9</li>
        <li>Automatic running of Gaps</li>
        <li>Notification Support</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.8</h4>
    <ul class="text-muted">
        <li>Switching to using IDs instead of names for movies in collections</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.7</h4>
    <ul class="text-muted">
        <li>Fixed bug with years not populating causing duplicates of owned movies to show</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.6</h4>
    <ul class="text-muted">
        <li>Safer checking of titles as strings</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.5</h4>
    <ul class="text-muted">
        <li>Fixed bug that some movies wouldn't match correctly in their collection</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.4</h4>
    <ul class="text-muted">
        <li>Increased card image size</li>
        <li>Added ellipse to card overview to maintain size</li>
        <li>Fixed card padding and margins</li>
        <li>Added information about owned and missing collection movies in libraries</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.3</h4>
    <ul class="text-muted">
        <li>Adding collection movies to cards for a better understanding of collections</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.2</h4>
    <ul class="text-muted">
        <li>Changing base docker container to reduce memory. Average reduction is 75% less memory usage.</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.1</h4>
    <ul class="text-muted">
        <li>Fixing broken re-search after an initial search of library</li>
    </ul>

    <h4 class="top-margin text-primary">v0.4.0</h4>
    <ul class="text-muted">
        <li>Added Updates Page</li>
        <li>GitHub CI/CD Builds</li>
        <li>New Gaps Logo</li>
        <li>New Gaps Icon</li>
        <li>New Icons</li>
        <li>Updated Navbar</li>
        <li>Updated End to End Testing</li>
        <li>Springboot 2.3.0</li>
        <li>Cypress 4.7.0</li>
    </ul>

    <h4 class="top-margin text-primary">v0.3.1</h4>
    <ul class="text-muted">
        <li>Fixed titles showing the wrong language</li>
        <li>Added collection information to the cards in recommended</li>
    </ul>

    <h4 class="top-margin text-primary">v0.3.0</h4>
    <ul class="text-muted">
        <li>Added option to delete all files and reset Gaps. It is available in the configuration tab.</li>
    </ul>

    <h4 class="top-margin text-primary">v0.2.2</h4>
    <ul class="text-muted">
        <li>Bootstrap integration</li>
        <li>UI Improvements everywhere</li>
        <li>Cards for owned and recommended movies</li>
        <li>Broken up Plex search from Gaps search</li>
        <li>Multi library search</li>
        <li>Caching system for movies for faster searching</li>
        <li>Springboot version update 2.2.5</li>
        <li>Cypress testing integration</li>
        <li>Server side rendering</li>
        <li>Removed cookies</li>
        <li>Performance improvements with caching and server side rendering</li>
    </ul>

    <h4 class="top-margin text-primary">v0.2.0</h4>
    <ul class="text-muted">
        <li>Showing owned movies now</li>
        <li>Supporting movies in languages other than English/US during searching</li>
    </ul>

    <h4 class="top-margin text-primary">v0.1.6</h4>
    <ul class="text-muted">
        <li>Removing hashing</li>
    </ul>

    <h4 class="top-margin text-primary">v0.1.5</h4>
    <ul class="text-muted">
        <li>Fixing duplicates</li>
    </ul>

    <h4 class="top-margin text-primary">v0.1.4</h4>
    <ul class="text-muted">
        <li>Fixing bugs with many Plex libraries</li>
        <li>Updating dependency versions</li>
        <li>Fixing movie title's in different languages bug</li>
    </ul>

    <h4 class="top-margin text-primary">v0.1.2</h4>
    <ul class="text-muted">
        <li>Windows Support</li>
        <li>Bug Fixes</li>
    </ul>

    <h4 class="top-margin text-primary">v0.1.0</h4>
    <ul class="text-muted">
        <li>Updated to Spring Boot 2.2.2-RELEASE</li>
        <li>Switched to Jackson instead of JSON Org for faster XML/JSON Parsing</li>
        <li>Refined movie cache to reduce lookups to TMDB for faster search</li>
        <li>Removed MaterializeCSS and replaced with Bootstrap</li>
        <li>Added error handling</li>
        <li>Created dual builds
            <ul>
                <li>SSL docker pull housewrecker/gaps:latest</li>
                <li>No SSL docker pull housewrecker/gaps:latest-no-ssl</li>
            </ul>
        </li>
        <li>Coded clean up</li>
        <li>Added Thymeleaf for server side rendered to speed up web pages</li>
        <li>Added DataTables.js to render movies</li>
        <li>Added TMDB links to results</li>
        <li>Added persistent 'recommended' page and tab to show results in DataTables from the last
            search
        </li>
        <li>Added persistent 'rss' page and tab to link to results in Radarr</li>
        <li>Removed cookies and replaced with server side storage of configuration to persist across
            multiple browsers, quicker rendering, and safer configuration
        </li>
    </ul>

</div>

<script src="/js/libraries/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/libraries/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>