<!--
  ~
  ~  Copyright 2020 Jason H House
  ~  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
</head>
<body>
<header th:fragment="navBar">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li th:attr="aria-current=${librariesPage} ? 'page' : '', class=${librariesPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/libraries'">
                    <div th:attr="class=${librariesPage} ? 'icon list-ul-active' : 'icon list-ul-default'"></div>
                    Libraries
                </a>
            </li>
            <li th:attr="aria-current=${recommendedPage} ? 'page' : '', class=${recommendedPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/recommended'">
                    <div th:attr="class=${recommendedPage} ? 'icon collection-fill-active' : 'icon collection-fill-default'"></div>
                    Missing
                </a>
            </li>
            <!--<li th:attr="aria-current=${mislabeledPage} ? 'page' : '', class=${mislabeledPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/mislabeled'">
                    <div th:attr="class=${mislabeledPage} ? 'icon exclamation-triangle-active' : 'icon exclamation-triangle-default'"></div>
                    Mislabeled
                </a>
            </li>-->
            <li th:attr="aria-current=${rssCheckPage} ? 'page' : '', class=${rssCheckPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/rssCheck'">
                    <div th:attr="class=${rssCheckPage} ? 'icon rss-active' : 'icon rss-default'"></div>
                    RSS
                </a>
            </li>
            <li th:attr="aria-current=${configurationPage} ? 'page' : '', class=${configurationPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/configuration'">
                    <div th:attr="class=${configurationPage} ? 'icon gear-active' : 'icon gear-default'"></div>
                    Settings
                </a>
            </li>
            <li th:attr="aria-current=${updatesPage} ? 'page' : '', class=${updatesPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/updates'">
                    <div th:attr="class=${updatesPage} ? 'icon arrow-clockwise-active' : 'icon arrow-clockwise-default'"></div>
                    Updates
                </a>
            </li>
            <li th:attr="aria-current=${aboutPage} ? 'page' : '', class=${aboutPage} ? 'nav-item nav-button-padding active' : 'nav-item nav-button-padding'">
                <a class="nav-link center-text nav-anchor-spacing" th:href="${gapsConfiguration.getBaseUrl()} + '/about'">
                    <div th:attr="class=${aboutPage} ? 'icon info-circle-active' : 'icon info-circle-default'"></div>
                    About
                </a>
            </li>
        </ul>
    </div>
</header>