<!--
  ~
  ~  Copyright 2020 Jason H House
  ~  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~  
  ~  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~  
  ~  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="telegram">
    <h4>Telegram Notifications</h4>
    <form class="needs-validation" id="telegramConfiguration" novalidate>
        <div class="form-group">
            <label for="telegramBotId">Bot ID</label>
            <input type="text" class="form-control" id="telegramBotId" aria-describedby="telegramBotIdHelp"
                   th:value="${plexProperties?.telegramProperties?.botId}">
            <small id="telegramBotIdHelp" class="form-text text-muted">We'll never share your email with
                anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="telegramChatId">Chat ID</label>
            <input type="text" class="form-control" id="telegramChatId"
                   aria-describedby="telegramChatIdHelp"
                   th:value="${plexProperties?.telegramProperties?.chatId}">
            <small id="telegramChatIdHelp" class="form-text text-muted">We'll never share your email with
                anyone
                else.</small>
        </div>
        <div class="form-group">
            <label>Notification Types</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.telegramProperties?.hasTmdbConnectionApi()}"
                       id="telegramTmdbApiConnectionNotification">
                <label class="form-check-label" for="telegramTmdbApiConnectionNotification">
                    TMDB API Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.telegramProperties?.hasPlexServerConnection()}"
                       id="telegramPlexServerConnectionNotification">
                <label class="form-check-label" for="telegramPlexServerConnectionNotification">
                    Plex Server Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.telegramProperties?.hasPlexMetadataUpdate()}"
                       id="telegramPlexMetadataUpdateNotification">
                <label class="form-check-label" for="telegramPlexMetadataUpdateNotification">
                    Plex Metadata Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.telegramProperties?.hasPlexLibraryUpdate()}"
                       id="telegramPlexLibraryUpdateNotification">
                <label class="form-check-label" for="telegramPlexLibraryUpdateNotification">
                    Plex Library Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.telegramProperties?.hasGapsMissingCollections()}"
                       id="telegramGapsMissingCollectionsNotification">
                <label class="form-check-label" for="telegramGapsMissingCollectionsNotification">
                    Gaps Missing Collections
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="telegramEnabled">Notification Agent</label>
            <select class="form-control" id="telegramEnabled">
                <option th:value="false">Disabled
                </option>
                <option th:value="true"
                        th:selected="${plexProperties?.telegramProperties?.getEnabled() ?: false}">Enabled
                </option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" href="javascript:void(0)" id="saveTelegram" onclick="saveTelegram();"
               type="button">Save</a>
            <a class="btn btn-info" href="javascript:void(0)" id="testTelegram" onclick="testTelegram();"
               type="button">Test</a>
        </div>
    </form>

    <div class="spinner-border text-primary gaps-hide top-margin" id="telegramSpinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="telegramTestError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not connect to Telegram. Check the key and logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="telegramTestSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">Telegram message sent.</p>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="telegramSaveError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not save your Telegram notification. Check the logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="telegramSaveSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">Your Telegram notification saved successfully.</p>
    </div>
</header>

<header th:fragment="slack">
    <h4>Slack Notifications</h4>
    <form class="needs-validation" id="slackConfiguration" novalidate>
        <div class="form-group">
            <label for="slackWebHookUrl">Bot ID</label>
            <input type="text" class="form-control" id="slackWebHookUrl" aria-describedby="slackWebHookUrlHelp"
                   th:value="${plexProperties?.slackProperties?.webHookUrl}">
            <small id="slackWebHookUrlHelp" class="form-text text-muted">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label>Notification Types</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.slackProperties?.hasTmdbConnectionApi()}"
                       id="slackTmdbApiConnectionNotification">
                <label class="form-check-label" for="slackTmdbApiConnectionNotification">
                    TMDB API Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.slackProperties?.hasPlexServerConnection()}"
                       id="slackPlexServerConnectionNotification">
                <label class="form-check-label" for="slackPlexServerConnectionNotification">
                    Plex Server Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.slackProperties?.hasPlexMetadataUpdate()}"
                       id="slackPlexMetadataUpdateNotification">
                <label class="form-check-label" for="slackPlexMetadataUpdateNotification">
                    Plex Metadata Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.slackProperties?.hasPlexLibraryUpdate()}"
                       id="slackPlexLibraryUpdateNotification">
                <label class="form-check-label" for="slackPlexLibraryUpdateNotification">
                    Plex Library Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.slackProperties?.hasGapsMissingCollections()}"
                       id="slackGapsMissingCollectionsNotification">
                <label class="form-check-label" for="slackGapsMissingCollectionsNotification">
                    Gaps Missing Collections
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="slackEnabled">Notification Agent</label>
            <select class="form-control" id="slackEnabled">
                <option th:value="false">Disabled
                </option>
                <option th:value="true" th:selected="${plexProperties?.slackProperties?.getEnabled() ?: false}">
                    Enabled
                </option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" href="javascript:void(0)" id="saveSlack" onclick="saveSlack();"
               type="button">Save</a>
            <a class="btn btn-info" href="javascript:void(0)" id="testSlack" onclick="testSlack();"
               type="button">Test</a>
        </div>
    </form>

    <div class="spinner-border text-primary gaps-hide top-margin" id="slackSpinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="slackTestError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not connect to Slack. Check the key and logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="slackTestSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">Slack message sent.</p>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="slackSaveError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not save your Slack notification. Check the logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="slackSaveSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">Your Slack notification saved successfully.</p>
    </div>
</header>

<header th:fragment="push-bullet">
    <h4>PushBullet Notifications</h4>
    <form class="needs-validation" id="pushBulletConfiguration" novalidate>
        <div class="form-group">
            <label for="pushBulletChannelTag">Channel Tag</label>
            <input type="text" class="form-control" id="pushBulletChannelTag"
                   aria-describedby="pushBulletChannelTagHelp"
                   th:value="${plexProperties?.pushBulletProperties?.channel_tag}">
            <small id="pushBulletChannelTagHelp" class="form-text text-muted">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="pushBulletAccessToken">Access Token</label>
            <input type="text" class="form-control" id="pushBulletAccessToken"
                   aria-describedby="pushBulletAccessTokenHelp"
                   th:value="${plexProperties?.pushBulletProperties?.accessToken}">
            <small id="pushBulletAccessTokenHelp" class="form-text text-muted">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label>Notification Types</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.pushBulletProperties?.hasTmdbConnectionApi()}"
                       id="pushBulletTmdbApiConnectionNotification">
                <label class="form-check-label" for="pushBulletTmdbApiConnectionNotification">
                    TMDB API Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.pushBulletProperties?.hasPlexServerConnection()}"
                       id="pushBulletPlexServerConnectionNotification">
                <label class="form-check-label" for="pushBulletPlexServerConnectionNotification">
                    Plex Server Connection
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.pushBulletProperties?.hasPlexMetadataUpdate()}"
                       id="pushBulletPlexMetadataUpdateNotification">
                <label class="form-check-label" for="pushBulletPlexMetadataUpdateNotification">
                    Plex Metadata Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.pushBulletProperties?.hasPlexLibraryUpdate()}"
                       id="pushBulletPlexLibraryUpdateNotification">
                <label class="form-check-label" for="pushBulletPlexLibraryUpdateNotification">
                    Plex Library Update
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:checked="${plexProperties?.pushBulletProperties?.hasGapsMissingCollections()}"
                       id="pushBulletGapsMissingCollectionsNotification">
                <label class="form-check-label" for="pushBulletGapsMissingCollectionsNotification">
                    Gaps Missing Collections
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="pushBulletEnabled">Notification Agent</label>
            <select class="form-control" id="pushBulletEnabled">
                <option th:value="false">Disabled
                </option>
                <option th:value="true"
                        th:selected="${plexProperties?.pushBulletProperties?.getEnabled() ?: false}">
                    Enabled
                </option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" href="javascript:void(0)" id="savePushBullet" onclick="savePushBullet();"
               type="button">Save</a>
            <a class="btn btn-info" href="javascript:void(0)" id="testPushBullet" onclick="testPushBullet();"
               type="button">Test</a>
        </div>
    </form>

    <div class="spinner-border text-primary gaps-hide top-margin" id="pushBulletSpinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="pushBulletTestError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not connect to PushBullet. Check the key and logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="pushBulletTestSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">PushBullet message sent.</p>
    </div>

    <div class="alert alert-dismissible alert-danger gaps-hide top-margin" id="pushBulletSaveError">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Could not save your PushBullet notification. Check the logs and try again.</p>
    </div>

    <div class="alert alert-dismissible alert-success gaps-hide top-margin" id="pushBulletSaveSuccess">
        <button class="close" data-hide="alert" type="button">&times;</button>
        <h4 class="alert-heading">Success!</h4>
        <p class="mb-0">Your PushBullet notification saved successfully.</p>
    </div>
</header>
</body>
</html>